<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morpion</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td {
            border: 10px solid black;
            width: 200px;
            height: 200px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Morpion</h1>
    </form>
    <form action="/newgame" method="POST">
        <button type="submit">Nouvelle Partie</button>
    </form>
</body>
</html>
