<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victoire</title>
</head>
<body>
    <h1>Vous avez gagné !</h1>
    <a href="/newgame"><button>Nouvelle Partie</button></a>
</body>
</html>
