<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victoire</title>
</head>
<body>
    <h1>Fin de partie</h1>
    <p><strong><%= message %></strong></p>
    <% if (newGameRedirect) { %>
        <form action="/newgame" method="POST">
            <button type="submit">Nouvelle Partie</button>
        </form>
    <% } else { %>
        <form action="/" method="GET">
            <button type="submit">Accueil</button>
        </form>
    <% } %>
</body>
</html>
